.about_transition_img {
  width: 100%;
  transform: translateY(10px);
}

.about {
  background-color: white;
  position: relative;
  z-index: 4;
  padding: 80px 0px 110px 0px;
  justify-content: center;
  overflow: hidden;

  .about_content {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 80%;
    width: 89%;
  }

  .about_image {
    height: 713px;
    width: 40%;
    object-fit: cover;
    transform: translateX(-3em);
    transition: all 0.7s ease-in-out;
    opacity: 0;
  }

  .about_background-img {
    object-fit: cover;
    transform: translateX(-3em);
    transition: all 0.7s ease-in-out;
    position: absolute;
    left: 30px;
    z-index: -2;
    height: 100%;
    @include bounce(-30px, 5s, infinite, project-bounce);
  }

  .about_line {
    display: block;
    width: 20px;
    margin: 20px 0px;
    height: 1px;
    background: black;
  }

  .about_text {
    width: 60%;
    padding: 30px;
    background: #ffffffcf;

    p {
      font-weight: 300;
      line-height: 1.8em;
      font-size: 1em;
      transform: translateY(-25px);
      opacity: 0;
      transition: all 0.5s 0.3s ease-in-out;

      a {
        color: black;
        font-weight: 700;
        text-decoration: none;
      }

      i {
        font-size: 0.8em;
      }

      .about_text_important {
        font-weight: 700;
        background-color: #ffcc8b;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .about {
    .about_background-img {
      left: -50%;
    }
    .about_content {
      width: 95%;
    }
  }
}

@media screen and (max-width: 880px) {
  .about {
    padding: 40px 0px;

    .about_content {
      gap: 20px;
      flex-direction: column;
      width: 95%;
    }

    .about_image {
      height: 50%;
      width: 65%;
    }

    .about_text {
      text-align: unset;
      font-size: 0.8em;
      width: 90%;

      h2 {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .about {
    .about_image {
      width: 90%;
    }

    .about_text {
      text-align: unset;
      font-size: 0.8em;
      width: 85%;
    }
    .about_background-img {
      left: -97% !important;
      top: -9%;
    }

    .about_text {
      p {
        transition: all 0.7s 0s ease-in-out;
      }
    }
  }
}
