.contact {
  margin-bottom: 190px;
  h2 {
    margin: 30px 0px 15px 0px;
  }
}

.contact_content {
  margin-top: 80px;
  display: flex;
  gap: 150px;
  padding: 25px;

  .contact_link {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transform: translateY(-0.5em);
    opacity: 0;
    transition: all 0.4s;

    i {
      font-size: 2.8em;
      color: #ffbe6c;
      transition: all 0.3s;
    }

    h3 {
      color: black;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 1.2em;
    }

    p {
      color: rgb(97, 97, 97);
      font-weight: 300;
      line-height: 1.3em;
      text-align: center;
      font-size: 0.95em;
      transition: all 0.3s;
    }

    .contact_line {
      height: 100%;
      border: 1px solid rgb(142 140 140);
      transition: all 0.3s;
    }

    &:hover {
      p {
        color: rgb(0, 0, 0);
      }

      i {
        animation: rotateLeftRight 0.3s alternate;
      }

      @keyframes rotateLeftRight {
        0% {
          transform: scale(1.1) rotate(0deg); /* Applique le scale et le position initial de rotation */
        }
        10% {
          transform: scale(1.1) rotate(-10deg); /* Scale conservé avec rotation vers la gauche */
        }
        50% {
          transform: scale(1.1) rotate(10deg); /* Scale conservé avec rotation vers la droite */
        }
        100% {
          transform: scale(1.1) rotate(-10deg); /* Retour à la rotation initiale vers la gauche */
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contact_content {
    gap: 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 530px) {
  .contact {
    margin-bottom: 30px;
  }

  .contact_content {
    gap: 10px;

    margin-top: 20px;

    .contact_link {
      gap: 7px;

      i {
        font-size: 1.9em;
      }
      h3 {
        font-size: 1.1em;
      }

      p {
        font-size: 0.8em;
      }

      .contact_line {
        height: 70%;
      }

      &:hover {
        .contact_line {
          transform: scaleY(1.4);
        }
      }
    }
  }
}
