header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .parallax_img {
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    height: 119%;
    object-fit: cover;
  }
}

.parallax_background-img {
  height: 115%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

.navbar {
  padding: 0px 0px;
  transition: all 0.3s;
  background-color: rgb(255 255 255 / 89%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 85%;
  opacity: 0;
  transition: all 0.5s;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 10;

  .navbar_elements {
    width: 96%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .navbar-icon {
      cursor: pointer;
      display: none;
      transition: all 0.2s;
    }
  }

  .logo {
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    margin-left: 30px;
    margin-bottom: 5px;
    transition: all 0.3s;
    cursor: default;

    &:hover {
      letter-spacing: 0.1em;
    }
  }
}

.navbar_menu {
  display: flex;
  gap: 100px;

  .navbar_menu_link {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.4s 0.3s;

    .navbar_menu_link_line {
      width: 2px;
      height: 30%;
      background-color: black;
      transform: scaleY(1);
      transition: transform 0.3s;
    }

    a {
      text-decoration: none;
      color: black;
      transition: transform 0.3s;
    }

    &:hover .navbar_menu_link_line {
      transform: scaleY(2);
    }
    &:hover a {
      transform: scale(1.1);
    }
  }
}

.title_position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 20px;

  h1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 400;
    opacity: 0;
    transition: all 0.8s 0.3s;

    span:nth-child(2) {
      transform: translateY(-45px);
      opacity: 0;
      transition: all 1s ease-out 1s;

      background-color: #ffbe6c;
      color: white;
      padding: 0px 10px;
    }
  }
}

.scroll {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  opacity: 1;

  p {
    font-weight: 100;
    font-size: 1.1em;
    color: white;
  }
}

.header_down-arrow {
  z-index: 100;
  height: 37px;
  left: 50%;
  bottom: 20px;
  animation: fade_move_down 2s infinite;

  @keyframes fade_move_down {
    0% {
      transform: translate(0, -15px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 15px);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    width: 98%;
    .navbar_elements {
      .navbar_menu {
        gap: 25px;
      }
    }
  }

  .title_position {
    .title {
      width: 90%;
    }
    h1 {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 790px) {
  .menu-icon {
    transform: scale(1.1);
  }

  :root {
    --bar-bg: #000000;
  }

  .menu-icon {
    margin: 10px;
    position: relative;
    width: 20px;
    height: 20px;

    .menu-icon_checkbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }

    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 12px;
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--bar-bg, #000);
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
        width: 80%;
      }
      &:last-of-type {
        bottom: 0;
      }
    }

    &.active,
    .menu-icon_checkbox:checked + div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          width: 100%;
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
          width: 100%;
        }
      }
    }
  }

  header {
    .parallax_img {
      height: 112%;
    }
  }

  .navbar {
    position: relative;
    padding: 20px 0;
    z-index: 3;

    .navbar_elements {
      align-items: center;

      .navbar-icon {
        display: flex;
        z-index: 5;
      }
    }

    .logo {
      margin-left: 15px;
      font-size: 1.7em;
    }
  }

  .navbar_menu {
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 30px;
    align-items: center;
    background: rgb(255 255 255 / 81%);
    padding: 55px 0;
    width: 100%;
    gap: 45px !important;
    transition: all 0.5s;
    font-weight: bold;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

    &.active {
      opacity: 1;
      top: 100px;
    }

    .navbar_menu_link {
      flex-direction: column;
      transition: all 0.3s;
      font-size: 1.1em;

      &:hover .navbar_menu_link_line {
        transform: scaleX(1.5);
      }

      .navbar_menu_link_line {
        width: 60px;
        display: none;
        height: 2px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .title_position {
    h1 {
      font-size: 2em;
    }
  }

  .navbar {
    width: 93%;
  }
}
