@charset "UTF-8";
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
}
body .return-home-icon {
  visibility: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 25px;
  padding: 5px;
  font-size: 1.3em;
  border-radius: 50%;
  color: white;
  background-color: #d9dac8;
  border: 1px solid rgb(179, 176, 176);
  transition: all 0.3s;
}
body .return-home-icon:hover {
  background-color: #ffcc8b;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 2.8em;
  font-family: "caveat", cursive;
  font-weight: 100;
}

main {
  position: relative;
}

@media screen and (max-width: 492px) {
  h2 {
    font-size: 2.2em;
  }
}
/* ------------------*/
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
header .parallax_img {
  z-index: -1;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 119%;
  object-fit: cover;
}

.parallax_background-img {
  height: 115%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

.navbar {
  padding: 0px 0px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.89);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 85%;
  opacity: 0;
  transition: all 0.5s;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 10;
}
.navbar .navbar_elements {
  width: 96%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar_elements .navbar-icon {
  cursor: pointer;
  display: none;
  transition: all 0.2s;
}
.navbar .logo {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  margin-left: 30px;
  margin-bottom: 5px;
  transition: all 0.3s;
  cursor: default;
}
.navbar .logo:hover {
  letter-spacing: 0.1em;
}

.navbar_menu {
  display: flex;
  gap: 100px;
}
.navbar_menu .navbar_menu_link {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(-2em);
  transition: all 0.4s 0.3s;
}
.navbar_menu .navbar_menu_link .navbar_menu_link_line {
  width: 2px;
  height: 30%;
  background-color: black;
  transform: scaleY(1);
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link:hover .navbar_menu_link_line {
  transform: scaleY(2);
}
.navbar_menu .navbar_menu_link:hover a {
  transform: scale(1.1);
}

.title_position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.title_position h1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: 400;
  opacity: 0;
  transition: all 0.8s 0.3s;
}
.title_position h1 span:nth-child(2) {
  transform: translateY(-45px);
  opacity: 0;
  transition: all 1s ease-out 1s;
  background-color: #ffbe6c;
  color: white;
  padding: 0px 10px;
}

.scroll {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.scroll p {
  font-weight: 100;
  font-size: 1.1em;
  color: white;
}

.header_down-arrow {
  z-index: 100;
  height: 37px;
  left: 50%;
  bottom: 20px;
  animation: fade_move_down 2s infinite;
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    width: 98%;
  }
  .navbar .navbar_elements .navbar_menu {
    gap: 25px;
  }
  .title_position .title {
    width: 90%;
  }
  .title_position h1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 790px) {
  .menu-icon {
    transform: scale(1.1);
  }
  :root {
    --bar-bg: #000000;
  }
  .menu-icon {
    margin: 10px;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .menu-icon .menu-icon_checkbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  .menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .menu-icon span:first-of-type {
    top: 0;
    width: 80%;
  }
  .menu-icon span:last-of-type {
    bottom: 0;
  }
  .menu-icon.active span:first-of-type,
  .menu-icon .menu-icon_checkbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    width: 100%;
    top: 5px;
  }
  .menu-icon.active span:last-of-type,
  .menu-icon .menu-icon_checkbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
    width: 100%;
  }
  header .parallax_img {
    height: 112%;
  }
  .navbar {
    position: relative;
    padding: 20px 0;
    z-index: 3;
  }
  .navbar .navbar_elements {
    align-items: center;
  }
  .navbar .navbar_elements .navbar-icon {
    display: flex;
    z-index: 5;
  }
  .navbar .logo {
    margin-left: 15px;
    font-size: 1.7em;
  }
  .navbar_menu {
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 30px;
    align-items: center;
    background: rgba(255, 255, 255, 0.81);
    padding: 55px 0;
    width: 100%;
    gap: 45px !important;
    transition: all 0.5s;
    font-weight: bold;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .navbar_menu.active {
    opacity: 1;
    top: 100px;
  }
  .navbar_menu .navbar_menu_link {
    flex-direction: column;
    transition: all 0.3s;
    font-size: 1.1em;
  }
  .navbar_menu .navbar_menu_link:hover .navbar_menu_link_line {
    transform: scaleX(1.5);
  }
  .navbar_menu .navbar_menu_link .navbar_menu_link_line {
    width: 60px;
    display: none;
    height: 2px;
  }
}
@media screen and (max-width: 600px) {
  .title_position h1 {
    font-size: 2em;
  }
  .navbar {
    width: 93%;
  }
}
.about_transition_img {
  width: 100%;
  transform: translateY(10px);
}

.about {
  background-color: white;
  position: relative;
  z-index: 4;
  padding: 80px 0px 110px 0px;
  justify-content: center;
  overflow: hidden;
}
.about .about_content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 80%;
  width: 89%;
}
.about .about_image {
  height: 713px;
  width: 40%;
  object-fit: cover;
  transform: translateX(-3em);
  transition: all 0.7s ease-in-out;
  opacity: 0;
}
.about .about_background-img {
  object-fit: cover;
  transform: translateX(-3em);
  transition: all 0.7s ease-in-out;
  position: absolute;
  left: 10px;
  z-index: -2;
  height: 87%;
  animation: project-bounce 5s ease infinite;
}
@keyframes project-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.about .about_line {
  display: block;
  width: 20px;
  margin: 20px 0px;
  height: 1px;
  background: black;
}
.about .about_text {
  width: 60%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8117647059);
}
.about .about_text p {
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1em;
  transform: translateY(-25px);
  opacity: 0;
  transition: all 0.5s 0.3s ease-in-out;
}
.about .about_text p a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.about .about_text p i {
  font-size: 0.8em;
}
.about .about_text p .about_text_important {
  font-weight: 700;
  background-color: #ffcc8b;
  color: black;
}

@media screen and (max-width: 1200px) {
  .about .about_background-img {
    left: -50%;
  }
  .about .about_content {
    width: 95%;
  }
}
@media screen and (max-width: 880px) {
  .about {
    padding: 40px 0px;
  }
  .about .about_content {
    gap: 20px;
    flex-direction: column;
    width: 95%;
  }
  .about .about_image {
    height: 50%;
    width: 65%;
  }
  .about .about_text {
    text-align: unset;
    font-size: 0.8em;
    width: 90%;
  }
  .about .about_text h2 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .about .about_image {
    width: 90%;
  }
  .about .about_text {
    text-align: unset;
    font-size: 0.8em;
    width: 85%;
  }
  .about .about_background-img {
    left: -97% !important;
    top: -9%;
  }
  .about .about_text p {
    transition: all 0.7s 0s ease-in-out;
  }
}
.skills {
  z-index: 3;
  padding: 30px;
  position: relative;
  justify-content: center;
  background-image: url("/assets/images/skills-background.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.skills .parallax-skills_img {
  z-index: -2;
  position: absolute;
  top: 350px;
  left: 0px;
  width: 100%;
  height: 200%;
  object-fit: cover;
}
.skills .skills_content {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  transition: all 0.7s 0.2s, opacity 0.5s;
}
.skills h2 {
  margin: 10px 0px;
}

.skills_images_flex {
  margin: 40px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 70px;
}
.skills_images_flex .skills_images_wrapper {
  position: relative;
  transform: translateY(-3em);
  opacity: 0;
  transition: all 0.3s 0.5s ease-in-out;
}
.skills_images_flex .skills_images_wrapper .skills_images {
  height: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.skills_images_flex .skills_images_wrapper p {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  opacity: 1;
  transition: all 0.3s;
  font-family: "Caveat";
  font-size: 1.4em;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images {
  transform: scale(1.1);
}
.skills_images_flex .skills_images_wrapper:hover p {
  opacity: 1;
  animation: about-bounce 0.3s ease;
}

@media screen and (max-width: 756px) {
  .skills h2 {
    margin: 40px 0px 20px;
    width: 90%;
    text-align: center;
  }
  .skills .skills_content {
    width: 93%;
  }
  .skills_images_flex {
    padding-left: 0px;
    grid-template-columns: repeat(3, 1fr);
  }
  .skills_images_flex .skills_images_wrapper p {
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  .skills {
    height: auto;
  }
  .skills .skills_content {
    width: 100% !important;
  }
  .skills_images_flex {
    gap: 30px;
  }
  .skills_images_flex .skills_images_wrapper .skills_images {
    height: 85px;
  }
  .skills_images_flex .skills_images_wrapper p {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 400px) {
  .skills .skills_content {
    width: 100%;
  }
  .skills_images_flex .skills_images_wrapper .skills_images {
    height: 65px;
  }
  .skills_images_flex .skills_images_wrapper p {
    margin-top: 5px;
  }
}
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
}
body .return-home-icon {
  visibility: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 25px;
  padding: 5px;
  font-size: 1.3em;
  border-radius: 50%;
  color: white;
  background-color: #d9dac8;
  border: 1px solid rgb(179, 176, 176);
  transition: all 0.3s;
}
body .return-home-icon:hover {
  background-color: #ffcc8b;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 2.8em;
  font-family: "caveat", cursive;
  font-weight: 100;
}

main {
  position: relative;
}

@media screen and (max-width: 492px) {
  h2 {
    font-size: 2.2em;
  }
}
/* ------------------*/
.projects {
  background-color: white;
  position: relative;
  z-index: 3;
  padding-bottom: 80px;
}
.projects h2 {
  margin: 80px 0px;
  padding: 0px 12px;
}

.card-flex {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 55px;
}
.card-flex .card {
  border-radius: 3px;
  padding: 20px;
  background-color: #ebeee7;
  box-shadow: 0px 0px 3px #b6b6b6;
  transition: box-shadow 0.2s, transform 0.2s, height 0.2s;
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.card-flex .card .card_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-flex .card .card_content h3 {
  font-weight: 100;
  margin: 20px 0px 20px;
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  font-family: "caveat", cursive;
}
.card-flex .card .card_content .card_cover-img img {
  width: 100%;
  height: 320px;
  border-radius: 3px;
  object-fit: cover;
}
.card-flex .card .card_content p {
  color: rgba(117, 116, 116, 0.795);
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 30px;
}
.card-flex .card:hover {
  animation: about-bounce 0.4s ease;
}
@keyframes about-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.card_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: auto;
  margin-bottom: 10px;
}
.card_buttons a {
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8431372549);
  text-decoration: none;
  cursor: pointer;
  font-family: "caveat", cursive;
  font-size: 1.1em;
  padding: 7px 15px;
  border: none;
  background-color: #ffbe6c;
  color: white;
  transition: all 0.2s;
}
.card_buttons a:hover {
  transform: scale(1.05);
}

.card_tags {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card_tags .tag {
  padding: 3px 10px;
  color: white;
  border-radius: 20px;
}
.card_tags .card_tag {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8431372549);
  border-radius: 5px;
  font-family: "caveat", cursive;
  padding: 2px 10px;
  background-color: #ffbe6c;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 100;
}
.card_tags .card_tag-icon {
  height: 40px;
  filter: invert(100%) brightness(0%);
}

@media (max-width: 1500px) {
  .card-flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  .card-flex .card {
    padding: 10px;
  }
}
@media (max-width: 900px) {
  .card-flex {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 50px;
  }
  .card-flex .card {
    width: 85%;
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .card-flex {
    width: 100%;
  }
  .card-flex .card .card_content h3 {
    font-size: 2.2rem;
  }
  .card-flex .card .card_content .card_tag {
    font-size: 1em;
  }
  .card-flex .card .card_content .card_cover-img img {
    height: 220px;
  }
  .card-flex .card .card_content p {
    font-size: 0.85em;
  }
  .card-flex .card:hover {
    animation: about-bounce 0.4s ease;
  }
  @keyframes about-bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
.contact {
  margin-bottom: 190px;
}
.contact h2 {
  margin: 30px 0px 15px 0px;
}

.contact_content {
  margin-top: 80px;
  display: flex;
  gap: 150px;
  padding: 25px;
}
.contact_content .contact_link {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transform: translateY(-0.5em);
  opacity: 0;
  transition: all 0.4s;
}
.contact_content .contact_link i {
  font-size: 2.8em;
  color: #ffbe6c;
  transition: all 0.3s;
}
.contact_content .contact_link h3 {
  color: black;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.2em;
}
.contact_content .contact_link p {
  color: rgb(97, 97, 97);
  font-weight: 300;
  line-height: 1.3em;
  text-align: center;
  font-size: 0.95em;
  transition: all 0.3s;
}
.contact_content .contact_link .contact_line {
  height: 100%;
  border: 1px solid rgb(142, 140, 140);
  transition: all 0.3s;
}
.contact_content .contact_link:hover p {
  color: rgb(0, 0, 0);
}
.contact_content .contact_link:hover i {
  animation: rotateLeftRight 0.3s alternate;
}
@keyframes rotateLeftRight {
  0% {
    transform: scale(1.1) rotate(0deg); /* Applique le scale et le position initial de rotation */
  }
  10% {
    transform: scale(1.1) rotate(-10deg); /* Scale conservé avec rotation vers la gauche */
  }
  50% {
    transform: scale(1.1) rotate(10deg); /* Scale conservé avec rotation vers la droite */
  }
  100% {
    transform: scale(1.1) rotate(-10deg); /* Retour à la rotation initiale vers la gauche */
  }
}

@media screen and (max-width: 800px) {
  .contact_content {
    gap: 30px;
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  .contact {
    margin-bottom: 30px;
  }
  .contact_content {
    gap: 10px;
    margin-top: 20px;
  }
  .contact_content .contact_link {
    gap: 7px;
  }
  .contact_content .contact_link i {
    font-size: 1.9em;
  }
  .contact_content .contact_link h3 {
    font-size: 1.1em;
  }
  .contact_content .contact_link p {
    font-size: 0.8em;
  }
  .contact_content .contact_link .contact_line {
    height: 70%;
  }
  .contact_content .contact_link:hover .contact_line {
    transform: scaleY(1.4);
  }
}
footer {
  background-color: #1d1d1d;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  color: rgb(187, 187, 187);
  font-weight: 100;
}

@media (max-width: 800px) {
  footer {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=index.css.map */
