.about {
  background-color: white;

  margin-top: 50px;
  position: relative;
  z-index: 4;
  height: 108vh;
  justify-content: center;

  .about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 80%;
    width: 85%;
  }

  img {
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    height: 75%;
    width: 45%;
    object-fit: cover;
    transform: translateX(-7em);
    opacity: 0;
    transition: all 0.7s ease-in-out;
    border: 2px solid black;
  }

  .about_text {
    width: 50%;
    transform: translateX(7em);
    opacity: 0;
    transition: all 0.7s 0.3s ease-in-out;

    h2 {
      margin-bottom: 30px;
    }

    p {
      max-height: 500px;
      font-weight: 700;
      line-height: 1.8em;
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 1023px) {
  .about {
    .about_content {
      gap: 20px;
      flex-direction: column;
    }

    img {
      height: 50%;
      width: 100%;
    }

    .about_text {
      width: 100%;
    }
  }
}
@media screen and (max-width: 880px) {
  .about {
    img {
      width: 100%;
    }

    .about_text {
      text-align: unset;
      font-size: 0.8em;
    }
  }
}
