.about {
  background: white;
  margin-top: 50px;
  position: relative;
  z-index: 4;
  height: 108vh;
  justify-content: center;
  background-color: #dedfcd;

  .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80%;
    width: 85%;
  }

  img {
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    height: 50%;
    width: 100%;
    object-fit: cover;
    transform: translateX(7em);
    opacity: 0;
    transition: all 1s;
  }

  .about_text {
    transform: translateX(-7em);
    opacity: 0;
    transition: all 1s 0.5s;
    h2 {
      margin-bottom: 30px;
    }
    p {
      max-height: 500px;
      font-weight: 700;
      line-height: 1.8em;
      text-overflow: ellipsis;
      overflow: auto;
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 880px) {
  .about {
    img {
      width: 100%;
    }

    .about_text {
      font-size: 0.8em;
    }
  }
}
