* {
  margin: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  background-color: #eee;
  background-image: url("../images/alexander-grey-NkQD-RHhbvY-unsplash.jpg");

  background-size: cover;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separation-line {
  margin: 10px auto;
  display: flex;
  width: 85%;
  height: 3px;
  background-color: $primaryColor;
}

h1 {
  padding-top: 13rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.7em;
}
