* {
  margin: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  background-color: #eee;
  background-image: url("../images/alexander-grey-NkQD-RHhbvY-unsplash.jpg");
  background-size: cover;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separation-line {
  margin: 10px auto;
  display: flex;
  width: 85%;
  height: 3px;
  background-color: #f6cece;
}

h1 {
  padding-top: 13rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.7em;
}

.navbar-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  background-image: url("../images/navbarBackground.png");
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.navbar-flex .navbar_elements {
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.navbar-flex .logo {
  z-index: 3;
  text-decoration: none;
  color: #f6cece;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  letter-spacing: 0.1em;
  transition: all 0.3s;
}
.navbar-flex .logo:hover {
  letter-spacing: 0.2em;
}
.navbar-flex .navbar_menu {
  z-index: 3;
  display: flex;
  gap: 30px;
}
.navbar-flex .navbar_menu .navbar-menu_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.navbar-flex .navbar_menu .navbar-menu_wrapper:hover .navbar-menu_wrapper_line {
  transform: scaleY(2);
}
.navbar-flex .navbar_menu .navbar-menu_wrapper .navbar-menu_wrapper_line {
  width: 2px;
  height: 30%;
  background-color: white;
  transform-origin: center;
  transform: scaleY(1);
  transition: transform 0.3s;
}
.navbar-flex .navbar_menu .navbar-menu_wrapper:hover a {
  transform: scale(1.15);
}
.navbar-flex .navbar_menu .navbar-menu_wrapper a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}

.about {
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.3019607843);
  border-radius: 5px;
  margin: 70px 0px;
}
.about .a-propos_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about .a-propos_img img {
  border-radius: 10%;
  height: 314px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.about .a-propos_text {
  text-align: start;
  line-height: 1.7;
  width: 50%;
}

.skills {
  padding: 30px;
  border-radius: 30px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills h2 {
  margin: 40px 0px;
}

.skills_images_flex {
  margin: 40px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.skills_images_flex .skills_images_wrapper {
  position: relative;
}
.skills_images_flex .skills_images_wrapper .skills_images {
  height: 120px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  transition: border-radius 0.2s ease-out, filter 0.2s ease-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.skills_images_flex .skills_images_wrapper .skills_images_display {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: rgba(109, 108, 108, 0.6784313725);
  opacity: 0;
  transition: all 0.3s ease-out;
  color: white;
}
.skills_images_flex .skills_images_wrapper .skills_images_display .skills_images_display_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1.3em;
  font-family: "Balsamiq Sans", sans-serif;
  letter-spacing: 0.15em;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images {
  border-radius: 50px;
  box-shadow: none;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images_display {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 50px;
}

/*# sourceMappingURL=index.css.map */
