* {
  margin: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  background-size: cover;
  background-position: center;
  background-color: #eff0f2;
}
body .return-home-icon {
  visibility: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 25px;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7098039216);
  box-shadow: 2px -1px 5px rgb(122, 121, 121);
  transition: box-shadow 0.6s;
  color: black;
}
body .return-home-icon:hover {
  box-shadow: -2px 1px 8px rgb(122, 121, 121);
  color: #a78476;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 2.8em;
  font-family: "caveat", cursive;
}

main {
  position: relative;
  background-color: #f5f3f4;
}

@media screen and (max-width: 492px) {
  h2 {
    font-size: 1.9em;
  }
}
header {
  height: 100vh;
}
header .parallax_img {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  padding: 30px 0px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.52);
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar .navbar_elements {
  width: 96%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar_elements .navbar-icon {
  cursor: pointer;
  display: none;
  height: 35px;
  transition: all 0.2s;
}
.navbar .navbar_elements .navbar-icon:hover {
  transform: scaleX(1.3);
}
.navbar .logo {
  text-decoration: none;
  color: black;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  display: flex;
  gap: 15px;
  margin-left: 30px;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  transition: all 0.3s;
}
.navbar .logo:hover {
  letter-spacing: 0.15em;
}

.navbar_menu {
  z-index: 3;
  display: flex;
  gap: 100px;
}
.navbar_menu .navbar_menu_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_menu .navbar_menu_link .navbar_menu_link_line {
  width: 2px;
  height: 30%;
  background-color: black;
  transform: scaleY(1);
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link:hover .navbar_menu_link_line {
  transform: scaleY(2);
}
.navbar_menu .navbar_menu_link:hover a {
  transform: scale(1.1);
}

.title_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.title_position .title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.52);
}
.title_position .title h1 {
  font-weight: 400;
}

@media screen and (max-width: 1083px) {
  .navbar .navbar_elements .navbar_menu {
    gap: 25px;
  }
  .title h1 {
    width: 74%;
  }
}
@media screen and (max-width: 790px) {
  header .parallax_img {
    height: 102%;
  }
  .navbar {
    padding: 20px 0px;
  }
  .navbar .navbar_elements {
    align-items: center;
  }
  .navbar .navbar_elements .navbar-icon {
    display: flex;
    margin-right: 15px;
  }
  .navbar .navbar_elements .navbar_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0px;
    width: 100%;
    gap: 15px;
    transition: transform 0.5s;
    font-weight: bold;
  }
  .navbar .navbar_elements .navbar_menu .navbar_menu_link {
    flex-direction: column;
    transition: all 0.3s;
  }
  .navbar .navbar_elements .navbar_menu .navbar_menu_link:hover .navbar_menu_link_line {
    transform: scaleX(1.5);
  }
  .navbar .navbar_elements .navbar_menu .navbar_menu_link .navbar_menu_link_line {
    width: 60px;
    display: none;
    height: 2px;
  }
  .navbar .logo {
    margin-left: 15px;
    font-size: 1.7em;
  }
  .title_position .title h1 {
    font-size: 1.8em;
  }
}
.about {
  background: white;
  margin-top: 50px;
  position: relative;
  z-index: 4;
  height: 108vh;
  justify-content: center;
}
.about .about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 75%;
  width: 85%;
}
.about img {
  border: 2px solid black;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  height: 99%;
  width: 40%;
  object-fit: cover;
}
.about .about_text h2 {
  margin-bottom: 30px;
}
.about .about_text p {
  max-height: 500px;
  font-weight: 700;
  line-height: 1.8em;
  text-overflow: ellipsis;
  overflow: auto;
}

.skills {
  z-index: 3;
  padding: 30px;
  position: relative;
  height: 80vh;
}
.skills .parallax-skills_img {
  z-index: -2;
  position: absolute;
  top: 350px;
  left: 0px;
  width: 100%;
  height: 185%;
  object-fit: cover;
}
.skills h2 {
  margin: 80px 0px 40px;
}

.skills_images_flex {
  margin: 40px 0px;
  padding-left: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.skills_images_flex .skills_images_wrapper {
  position: relative;
}
.skills_images_flex .skills_images_wrapper .skills_images {
  height: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.skills_images_flex .skills_images_wrapper p {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  opacity: 0;
  transition: all 0.3s;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images {
  transform: scale(1.1);
}
.skills_images_flex .skills_images_wrapper:hover .skills_images_display {
  opacity: 1;
  transform: scale(1.1);
}
.skills_images_flex .skills_images_wrapper:hover p {
  opacity: 1;
}

@media screen and (max-width: 670px) {
  .skills h2 {
    margin: 40px 0px 20px;
  }
  .skills .parallax-skills_img {
    width: 123%;
  }
  .skills_images_flex {
    gap: 20px;
    padding-left: 0px;
    grid-template-columns: repeat(3, 1fr);
  }
  .skills_images_flex .skills_images_wrapper p {
    position: relative;
  }
}
@media screen and (max-width: 492px) {
  .skills {
    height: auto;
  }
  .skills .parallax-skills_img {
    width: 214%;
  }
  .skills_images_flex {
    gap: 15px;
  }
  .skills_images_flex .skills_images_wrapper .skills_images {
    height: 85px;
  }
  .skills_images_flex .skills_images_wrapper p {
    font-size: 1em;
  }
}
.projects {
  background-color: white;
  position: relative;
  z-index: 3;
  padding-bottom: 80px;
}
.projects h2 {
  margin: 80px 0px;
}
.projects h3 {
  font-family: "Caveat", cursive;
  font-size: 2.1rem;
  letter-spacing: 0.3em;
}
.projects .card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  width: 90%;
}

.card {
  position: relative;
  height: 455px;
  padding: 15px;
  background-color: #dedfcd;
  border-radius: 7px;
  width: 42%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s, transform 0.2s, height 0.2s;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.card .card_frontside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.card .card_frontside .card_lines {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 2px;
  border-top: 1px solid black;
  width: 45%;
  transition: all 0.3s;
}
.card .card_frontside .card_flip_frontside_button {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 1.7em;
  cursor: pointer;
}
.card .card_frontside,
.card .card_backside {
  backface-visibility: hidden;
}
.card .card_backside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: rotateY(180deg);
}
.card .card_backside .card_flip_backside_button {
  position: absolute;
  top: 25px;
  left: 50px;
  font-size: 1.7em;
  cursor: pointer;
}
.card:hover {
  box-shadow: 15px 15px 4px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}
.card:hover .card_line_top {
  transform: translateX(50%);
}
.card:hover .card_line_bottom {
  transform: translateX(-50%);
}
.card:hover .card_img {
  width: 105%;
}

.card_backside_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 90%;
}
.card_backside_content p {
  line-height: 1.5em;
}
.card_backside_content .card_backside_icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.card_backside_content .card_backside_icons .card_backside_icon {
  height: 50px;
}
.card_backside_content .card_backside_line {
  height: 52%;
  border: 1px solid black;
}
.card_backside_content .card_backside_button {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 5%;
}
.card_backside_content .card_backside_button button {
  cursor: pointer;
  font-family: "caveat", cursive;
  font-size: 1.1em;
  padding: 7px 15px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 5px rgb(73, 70, 70);
}
.card_backside_content .card_backside_button button:hover {
  background-color: white;
  color: black;
}

.card_img {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.card_img img {
  height: 100%;
  width: 90%;
  aspect-ratio: 5/2;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 90%;
  }
}
.contact {
  background-color: #1d1d1d;
  padding: 15px;
}
.contact h2 {
  margin: 30px 0px 80px 0px;
}

.contact_content {
  display: flex;
  gap: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact_content .contact_link {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.contact_content .contact_link i {
  font-size: 1.7em;
  color: rgb(187, 187, 187);
  transition: all 0.3s;
}
.contact_content .contact_link p {
  color: rgb(187, 187, 187);
  transition: all 0.3s;
}
.contact_content .contact_link .contact_line {
  height: 100%;
  border: 1px solid rgb(187, 187, 187);
  transition: all 0.3s;
}
.contact_content .contact_link:hover i {
  color: white;
}
.contact_content .contact_link:hover p {
  color: white;
}
.contact_content .contact_link:hover .contact_line {
  transform: scaleY(1.2);
  border: 1px solid white;
}

/*# sourceMappingURL=index.css.map */
