* {
  margin: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  background-size: cover;
  background-position: center;
  background-color: #eff0f2;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.7em;
}

main {
  position: relative;
  background-color: #f5f3f4;
}

header {
  height: 100vh;
}
header .parallax_img {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 155%;
  object-fit: cover;
}

.navbar {
  z-index: 999;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.52);
}
.navbar .navbar_elements {
  width: 96%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbar .logo {
  z-index: 3;
  text-decoration: none;
  color: black;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  display: flex;
  gap: 15px;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  position: absolute;
  top: 29px;
  left: 50px;
}
.navbar .logo:hover {
  letter-spacing: 0.15em;
}

.navbar_menu {
  z-index: 3;
  display: flex;
  gap: 100px;
}
.navbar_menu .navbar_menu_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_menu .navbar_menu_link .navbar_menu_link_line {
  width: 2px;
  height: 30%;
  background-color: black;
  transform: scaleY(1);
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}
.navbar_menu .navbar_menu_link:hover .navbar_menu_link_line {
  transform: scaleY(2);
}
.navbar_menu .navbar_menu_link:hover a {
  transform: scale(1.1);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 85%;
}
.title .title_absolute {
  position: absolute;
  bottom: 17%;
  left: 27%;
}
.title .title_name {
  position: absolute;
  top: 38%;
}
.title .line_image {
  height: 202px;
  top: 37%;
  left: 39%;
  position: absolute;
}
.title h1 {
  width: 49%;
  font-weight: 400;
}

.about {
  margin-top: 50px;
  position: relative;
  z-index: 3;
}
.about .about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 60px 210px;
  padding: 83px;
}
.about img {
  border: 2px solid black;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-right: 250px;
}
.about .about_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 17px 52px;
  text-align: start;
  line-height: 1.7;
  width: 37%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 120px;
}
.about .about_text p {
  font-weight: 700;
}

.skills {
  z-index: 3;
  padding: 30px;
  position: relative;
  height: 80vh;
}
.skills .parallax-skills_img {
  z-index: -2;
  position: absolute;
  top: 550px;
  left: 0px;
  width: 120%;
  height: 185%;
  object-fit: cover;
}
.skills h2 {
  margin: 20px 0px;
}

.skills_images_flex {
  margin: 40px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.skills_images_flex .skills_images_wrapper {
  position: relative;
}
.skills_images_flex .skills_images_wrapper .skills_images {
  height: 120px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  transition: border-radius 0.2s ease-out, filter 0.2s ease-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.skills_images_flex .skills_images_wrapper .skills_images_display {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: rgba(109, 108, 108, 0.6784313725);
  opacity: 0;
  transition: all 0.3s ease-out;
  color: white;
}
.skills_images_flex .skills_images_wrapper .skills_images_display .skills_images_display_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1.3em;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images {
  border-radius: 5px;
  box-shadow: none;
}
.skills_images_flex .skills_images_wrapper:hover .skills_images_display {
  top: 0px;
  left: 0px;
  width: 99%;
  height: 97%;
  opacity: 1;
  border-radius: 5px;
}

.projects {
  background-color: white;
  position: relative;
  z-index: 3;
}
.projects h2 {
  margin: 40px 0px;
}
.projects h3 {
  margin: 15px 0px;
}
.projects .card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 90%;
}

.card {
  height: 700px;
  padding: 15px;
  background-color: rgba(14, 75, 24, 0.32);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 29%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s, transform 0.2s;
}
.card:hover {
  box-shadow: 15px 15px 4px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.card .card_image {
  height: 250px;
  width: 97%;
  object-fit: cover;
  border: 2px solid black;
}
.card .tags {
  display: flex;
  gap: 15px;
}
.card .tags .tag {
  margin: 30px 0px;
  padding: 10px 30px;
  background-color: #d5b63c;
  border: 1px solid black;
  border-radius: 40px;
}

/*# sourceMappingURL=index.css.map */
