@import "colors.scss";
.navbar-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  background-image: url("../images/navbarBackground.png");
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;

  .navbar_elements {
    width: 96%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    z-index: 3;
    text-decoration: none;
    color: $primaryColor;
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    letter-spacing: 0.1em;
    transition: all 0.3s;

    &:hover {
      letter-spacing: 0.2em;
    }
  }
  .navbar_menu {
    z-index: 3;
    display: flex;
    gap: 30px;

    .navbar-menu_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      &:hover .navbar-menu_wrapper_line {
        transform: scaleY(2);
      }

      .navbar-menu_wrapper_line {
        width: 2px;
        height: 30%;
        background-color: white;
        transform-origin: center;
        transform: scaleY(1);
        transition: transform 0.3s;
      }

      &:hover a {
        transform: scale(1.15);
      }

      a {
        text-decoration: none;
        color: white;
        transition: transform 0.3s;
      }
    }
  }
}
