.projects {
  background-color: white;
  position: relative;
  z-index: 3;
  padding-bottom: 80px;

  h2 {
    margin: 80px 0px;
  }

  h3 {
    font-family: "Caveat", cursive;
    font-size: 2.1rem;
    letter-spacing: 0.3em;
    text-align: center;
    transition: all 0.4s;
  }
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;

  .card {
    height: 455px;
    padding: 15px;
    background-color: rgb(230 230 230);
    width: 40%;
    box-shadow: 1px 2px 7px #b6b6b6;
    transition: box-shadow 0.2s, transform 0.2s, height 0.2s;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.4);
      transform: scale(1.02);

      .card_preview-section_top-line {
        transform: translateX(50%);
      }
      .card_preview-section_bottom-line {
        transform: translateX(-50%);
      }

      .card_preview-section_img {
        width: 105%;
      }

      .card_infos-section_line {
        height: 52%;
      }
    }
  }
}

.card_preview-section {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 85%;
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease-in;
  margin-top: 10px;

  .card_preview-section_lines {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background-color: black;
    width: 45%;
    transition: all 0.3s ease-in-out;
  }

  .card_preview-section_img {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    img {
      width: 90%;
      aspect-ratio: 5/2;
      object-fit: cover;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.card_infos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  border-radius: 7px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.card_infos-section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 90%;

  p {
    line-height: 1.5em;
  }

  .card_infos-section_icons {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .card_backside_icon {
      height: 50px;
    }
  }

  .card_infos-section_line {
    height: 40%;
    width: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }

  .card_infos-section_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 0px;
    bottom: 5%;
    display: none;

    button {
      cursor: pointer;
      font-family: "caveat", cursive;
      font-size: 1.1em;
      padding: 7px 15px;
      border: none;
      border-radius: 50px;
      background-color: black;
      color: white;
      box-shadow: 3px 3px 5px rgb(73, 70, 70);
      transition: all 0.2s;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .card-flex {
    .card {
      width: 85%;
    }
  }
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 530px) {
  .projects {
    h2 {
      margin: 40px 0px;
    }
    p {
      margin-top: 15px;
      font-size: 0.8em;
    }
  }

  .card-flex {
    width: 90%;
    gap: 30px;
    .card {
      height: 370px;

      &:hover {
        .card_infos-section_line {
          height: 1px;
          width: 70%;
        }
      }
    }
  }

  .card_preview-section {
    h3 {
      font-size: 1.4em;
    }
  }

  .card_infos-section_content {
    flex-direction: column;
    justify-content: unset;
    margin-top: 45px;
    gap: 15px;

    .card_infos-section_icons {
      flex-direction: row;

      .card_backside_icon {
        height: 35px;
      }
    }

    .card_infos-section_line {
      height: 1px;
      width: 60%;
    }
  }
}
